.button {
  margin-right: 10px;
}

.row {
  margin-top: 16px;
  width: 400px;
}

.buttons {
  display: flex;
  margin: 25px 0;
}

.avatar {
  display: block;
  width: 100px;
  height: 100px;
  margin: 4px 0 8px;
  object-fit: cover;
}
