.dropzone-root {
  border: none;
  border-radius: 0;
  padding: 0;
  background-color: transparent;

  &:hover .add-icon {
    color: var(--mantine-color-gray-5);
  }

  &:hover .browse-button {
    border: 1px dashed var(--mantine-color-gray-5);
  }

  &:hover .inner-avatar {
    opacity: 1;
  }
}

.browse-button {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  border: 1px dashed var(--mantine-primary-color-filled);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.error {
  border: 1px dashed var(--mantine-color-red-5);
}

.add-icon {
  color: var(--mantine-primary-color-filled);
  transition: all 200ms ease-in-out;
}

.inner-avatar {
  border-radius: 50%;

  opacity: 0;
  transition: all 300ms ease-in-out;
}

.text {
  width: 144px;
  line-height: 24px;
  color: var(--mantine-color-gray-6);
  word-wrap: break-word;
}

.button-container {
  display: flex;
  align-items: center;
}

.error-message {
  margin-top: 4px;
  font-size: 14px;
  line-height: 17px;
  color: var(--mantine-color-red-5);
}

.avatar {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
