.innerInput {
  font-size: '16px !important';

  &::placeholder {
    color: '#6d747b';
  }
}

.label {
  font-size: 18px;
  font-weight: 600;
}


/* invalid: {
  input: {
    '&::placeholder': {
      color: theme.colors.red[6],
    },
  },
}, */
