.container {
  align-self: flex-end;
  border-radius: 8px;
  color: var(--mantine-color-default);
  max-width: 70%;
  background-color: var(--mantine-color-pink-5);
  padding: 5px;
  display: inline-block;
}
