:root {
  --primary: #000;
  --black: #000;
  --white: #FFF;
  --gray: #D4D8DD;
  --gray-light: #F9F9F9;
  --gray-dark: #808080;
  --blue: #0064EB;
  --hover-blue: #0156C9;
  --green: #219653;
  --red: #EB5757;
  --yellow: #F2C94C;
  --toastify-icon-color-info: var(--white);
  --toastify-icon-color-success: var(--white);
  --toastify-icon-color-warning: var(--black);
  --toastify-icon-color-error: var(--white);
}
