:root {
  --primary: #000;
  --black: #000;
  --white: #fff;
  --gray: #d4d8dd;
  --gray-light: #f9f9f9;
  --gray-dark: #808080;
  --blue: #0064eb;
  --hover-blue: #0156c9;
  --green: #219653;
  --red: #eb5757;
  --yellow: #f2c94c;
  --font-family-common: inter;
}
