@import "normalize.css";
@import "constants.css";

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  color: #222;
  font-size: 16px;
  line-height: 1.4;
}

h1 {
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: var(--black);
}

h2 {
  margin: 0;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: var(--black);
}

h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--black);
}
