@import 'variables.pcss';

.input {
  border-radius: var(--border-radius-700);
  padding: var(--distance-600) var(--distance-900);
  background: var(--white);
  border: 1px solid var(--grey-100);
  box-shadow: none;
  transition: box-shadow 0.5s;
  box-sizing: border-box;

  &:focus {
    outline: none;
    box-shadow: 0 0 10px var(--deep-purple-shadow);
  }
}
