:root {
  --green-50: #dff5e5;
  --green-100: #b2e6c1;
  --green-200: #94dda9;
  --green-300: #77d391;
  --green-400: #68cf85;
  --green-500: #59ca79;
  --green-600: #33a152;
  --green-700: #2a8343;
  --green-800: #25743c;
  --green-900: #206634;
  --green-gradient: linear-gradient(to right, var(--green-400) 0%, var(--green-600) 100%);
}
