@import 'variables.pcss';

.panel {
  width: 850px;

  img {
    min-width: 400px;
  }
}

.title {
  display: block;
  text-align: center;
  width: 100%;
}

.forgot {
  width: 100%;
  text-align: right;
}

.signup {
  width: 100%;
  text-align: center;
  margin-top: var(--distance-900);
}
