@import 'variables.pcss';

.error {
  background: color(red alpha(-50%));
  color: var(--white);
  padding: var(--distance-700) var(--distance-500);
  border-radius: var(--border-radius-500);
  margin: var(--distance-600) 0;
  text-align: center;
}
