.headCell {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  > div > svg {
    margin-left: 8px;
  }

  &.checkable {
    padding: 0;
    margin-right: 24px;
  }
}
