version: '3.6'
services:
  mongo:
    container_name: ship-mongo
    image: mongo:4.2
    command: --replSet rs --bind_ip_all
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=root
    networks:
      - ship
    ports:
      - 27017:27017
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - type: volume
        source: mongodb
        target: /data/db
      - type: volume
        source: mongodb-cfg
        target: /data/configdb
  mongo-replicator:
    container_name: ship-mongo-replicator
    build: ./mongo-replicator
    environment:
      - HOST=mongo
      - PORT=27017
      - USERNAME=root
      - PASSWORD=root
      - REPLICA_SET_NAME=rs
    networks:
      - ship
    depends_on:
      - mongo
  redis:
    container_name: ship-redis
    image: redis:5.0.5
    command: redis-server --appendonly yes
    hostname: redis
    networks:
      - ship
    ports:
      - 6379:6379
  api:
    container_name: ship-api
    build:
      context: .
      dockerfile: Dockerfile
      target: development
      args:
        APP_ENV: development
    networks:
      - ship
    volumes:
      - ./src:/app/src
    ports:
      - 3001:3001
    depends_on:
      - redis
      - mongo-replicator
  migrator:
    container_name: ship-migrator
    build:
      context: .
      dockerfile: Dockerfile
      target: development
      args:
        APP_ENV: development
    command: npm run migrate
    networks:
      - ship
    volumes:
      - ./src:/app/src
    depends_on:
      - mongo-replicator
  scheduler:
    container_name: ship-scheduler
    build:
      context: .
      dockerfile: Dockerfile
      target: development
      args:
        APP_ENV: development
    command: npm run schedule-dev
    networks:
      - ship
    volumes:
      - ./src:/app/src
    depends_on:
      - mongo-replicator

networks:
  ship:
    name: ship-network

volumes:
  mongodb:
  mongodb-cfg:
