upstream landing {
  {% for item in landing_ports %}
    server localhost:{{ item }};
  {% endfor %}
}

upstream api {
  {% for item in api_ports %}
    server localhost:{{ item }};
  {% endfor %}
}

upstream web {
  {% for item in web_ports %}
    server localhost:{{ item }};
  {% endfor %}
}

server {
  listen 80 default_server;
  server_name {{ landing_domain }};

  gzip on;
  gzip_proxied any;
  gzip_min_length   280;
  gzip_types        text/plain application/json text/css application/x-javascript text/xml application/xml application/xml+rss text/javascript image/x-icon image/bmp image/svg+xml;
  gzip_vary         on;

  location / {
     proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
     proxy_set_header Host $host;
     proxy_pass http://landing;
  }
}

server {
  listen 80;
  server_name {{ api_domain }};

  gzip on;
  gzip_proxied any;
  gzip_min_length   280;
  gzip_types        text/plain application/json text/javascript;
  gzip_vary         on;

  location / {
     client_max_body_size 20m;
     client_body_timeout  300s;
     proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
     proxy_set_header Host $host;
     proxy_pass http://api;
  }
}


server {
  listen 80;
  server_name {{ web_domain }};

  gzip on;
  gzip_proxied any;
  gzip_min_length   280;
  gzip_types        text/plain application/json text/css application/x-javascript text/xml application/xml application/xml+rss text/javascript image/x-icon image/bmp image/svg+xml;
  gzip_vary         on;

  location / {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $host;
    proxy_pass http://web;
  }
}
