.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.55);
}

.content {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 2px rgba(94,96,186,.35);
  padding: 20px;
}
