@import 'variables.pcss';

.menu {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.item {
  padding: 0 var(--distance-500);

  a {
    color: var(--white);
    text-decoration: none;
    padding: var(--distance-600) 0;

    &:hover {
      color: var(--grey-200);
    }
  }
}

.active {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    height: 3px;
    border-radius: 1px;
    background: var(--white);
    left: 0;
    right: 0;
    bottom: 0;
  }
}
