.label {
  font-weight: 500;
}

.root {
  transition: all 0.2s ease-in-out;

  &:disabled,
  &[data-disabled] {
    background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  }
}
