# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "src/config/index.ts"
# should be updated accordingly.

# If you are using Docker for the development process,
# you need to use the following variables for MongoDB and Redis:
# MONGO_URI=mongodb://root:root@mongo/api-development?authSource=admin&replicaSet=rs
# REDIS_URI=redis://:@redis:6379

# MongoDB
MONGO_URI=mongodb://root:root@localhost:27017/api-development?authSource=admin&replicaSet=rs&tls=false&directConnection=true
MONGO_DB_NAME=api-development

# Redis
REDIS_URI=redis://:@localhost:6379

# Application URLs
API_URL=http://localhost:3001
WEB_URL=http://localhost:3002

# Cloud storage
# If you are using DO Spaces, then you can use the following guide to configure cloud storage environments:
# https://docs.digitalocean.com/products/spaces/reference/s3-sdk-examples/
# CLOUD_STORAGE_ENDPOINT=https://....digitaloceanspaces.com
# CLOUD_STORAGE_ACCESS_KEY_ID=...
# CLOUD_STORAGE_SECRET_ACCESS_KEY=..
# CLOUD_STORAGE_BUCKET=...
