.container {
  width: 328px;
  display: flex;
  flex-direction: column;
}

.form {
  margin: 24px 0;

  > *:not(:last-child) {
    margin-bottom: 16px;
  }
}

.button {
  width: 100%;
  margin-top: 32px;
}

.description {
  font-size: 14px;
  line-height: 17px;
}

.signUplink {
  margin-left: 16px;
}

.forgotPasswordLink {
  margin-top: 12px;
}
