@import 'variables.pcss';

.panel {
  width: 500px;
  height: auto;
  padding: var(--distance-600);

  .form-wrap {
    display: flex;
    flex-direction: column;
    padding: 0 var(--distance-900);
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;

    button[action="submit"] {
      margin: var(--distance-600) 0;
      background: var(--button-primary-gradient);
    }
  }
}
