.wrapper {
  height: 100vh;
  display: flex;
  flex-flow: column;
}

.content {
  width: 100%;
  height: 100%;
  padding: 0 64px;
  background-color: var(--gray-light);
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
}
