map $http_upgrade $connection_upgrade {
    default upgrade;
    ''      close;
}

{% if server_setup_ssl %}
  server {
    listen 80;
    server_name {{nginx_drone_server_name}};

    #Rewrite all none ssl requests to ssl.
    return 301 https://$host$request_uri$is_args$args;
  }

  server {
    listen 443;
    server_name {{nginx_drone_server_name}};
    ssl on;
    ssl_certificate {{server_ssl_cert_path}};
    ssl_certificate_key {{server_ssl_key_path}};

    location / {
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Host $http_host;

        proxy_pass {{nginx_drone_internal_host}};
        proxy_redirect off;
        proxy_http_version 1.1;
        proxy_buffering off;

        chunked_transfer_encoding off;
    }

    location ~* /ws {
        proxy_pass {{nginx_drone_internal_host}};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_read_timeout 86400;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Host $http_host;
    }
  }

{% else %}
  server {
      listen 80;
      server_name {{nginx_drone_server_name}};

      location / {
          proxy_set_header X-Forwarded-For $remote_addr;
          proxy_set_header X-Forwarded-Proto $scheme;
          proxy_set_header Host $http_host;

          proxy_pass {{nginx_drone_internal_host}};
          proxy_redirect off;
          proxy_http_version 1.1;
          proxy_buffering off;

          chunked_transfer_encoding off;
      }

      location ~* /ws {
          proxy_pass {{nginx_drone_internal_host}};
          proxy_http_version 1.1;
          proxy_set_header Upgrade $http_upgrade;
          proxy_set_header Connection "upgrade";
          proxy_read_timeout 86400;
          proxy_set_header X-Forwarded-For $remote_addr;
          proxy_set_header X-Forwarded-Proto $scheme;
          proxy_set_header Host $http_host;
      }
  }
{% endif %}
