.link {
  color: var(--blue);
  text-decoration: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.value {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  color: var(--blue);

  &:hover {
    color: var(--hover-blue);
  }
}
