@import 'colors/deep-purple.pcss';
@import 'colors/green.pcss';
@import 'colors/grey.pcss';
@import 'colors/light-blue.pcss';
@import 'colors/orange.pcss';
@import 'colors/red.pcss';

:root {
  --white: #fff;
  --black: #000;
}
