:root {
  --deep-purple-50: #f3effb;
  --deep-purple-100: #ddd0f2;
  --deep-purple-200: #bca1e6;
  --deep-purple-300: #a682de;
  --deep-purple-400: #9063d6;
  --deep-purple-500: #7a44cd;
  --deep-purple-600: #6631b9;
  --deep-purple-700: #55299a;
  --deep-purple-800: #4c258b;
  --deep-purple-900: #3b1d6c;
  --deep-purple-gradient: linear-gradient(to right, var(--deep-purple-400) 0%, var(--deep-purple-600) 100%);
  --deep-purple-shadow: rgba(94, 96, 186, 0.35);
}
