{
  "presets": [
    [
      "next/babel"
    ]
  ],
  "plugins": [
    "inline-react-svg",
    [
      "module-resolver",
      {
        "alias": {
          "~": "./src/client"
        }
      }
    ]
  ]
}
