@import 'variables.pcss';

.form {
  width: 100%;
  display: flex;
  flex-direction: column;

  input {
    margin: var(--distance-600) 0;
  }

  button[action="submit"] {
    margin-top: var(--distance-600);
  }

  p {
    display: block;
    width: 100%;
  }
}

.wrap {
  display: flex;
  flex-direction: column;
  padding: 0 var(--distance-900);
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
