.container {
  width: 320px;
  padding: 12px;
  margin-bottom: 8px;
  border-radius: 6px;
  display: flex;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  animation: slide 0.3s ease-in-out;

  &.close {
    animation: close 0.3s;
  }
}

.message {
  margin-left: 12px;
  width: 230px;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  word-break: break-word;
}

.closeIcon {
  margin-left: auto;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}

.success {
  background-color: var(--green);
  color: var(--white);
}

.error {
  background-color: var(--red);
  color: var(--white);
}

.info {
  background-color: var(--blue);
  color: var(--white);
}

.warning {
  background-color: var(--yellow);
  color: var(--black);
}

@keyframes slide {
  0% {
    transform: translateX(320px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes close {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
