@import 'variables.pcss';

* {
  font-size: 100%;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #777;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 40px;
  font-weight: normal;
}

h2 {
  font-size: 35px;
  font-weight: normal;
  margin: var(--distance-600) 0;
}

button {
  outline: none !important;
  border: none;
}
