@import 'variables.pcss';
@import "normalize.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

html,
body {
  font-family: 'Open Sans', sans-serif;
  color: var(--grey-800);
  font-size: var(--text-500);
}

.poster-hidden {
  transition: all 0.5s;
  opacity: 0 !important;
}

.poster-none {
  display: none !important;
}
