.link {
  max-width: fit-content;
  display: inline-flex;
  align-items: center;
  color: var(--blue);
  text-decoration: none;
  transition: all 0.15s;

  &.disabled {
    pointer-events: none;
    opacity: 0.3;
  }

  &:hover:not(.withoutUnderline) {
    .text {
      box-shadow: inset 0 -1px 0 var(--blue);
    }
  }
}

.icon,
.text {
  transition: inherit;
}

.l {
  max-height: 24px;

  .text {
    font-size: 16px;
    line-height: 19px;
  }

  .icon {
    transform: scale(1.2) translateX(-1px);
  }
}

.m {
  max-height: 20px;

  .text {
    font-size: 14px;
    line-height: 17px;
  }
}

.s {
  max-height: 16px;

  .text {
    font-size: 12px;
    line-height: 15px;
  }

  .icon {
    transform: scale(0.8) translateX(2px);
  }
}
