.input {
  font-size: 16px;

  &::placeholder,
  &:disabled,
  &:disabled::placeholder {
    color: '#6d747b !important';
  }
}

.inputError {
  color: var(--mantine-color-gray-9);

  &,
  &:focus-within {
    border-color: var(--mantine-color-red-6);
  }
}

.label {
  font-size: 18px;
  font-weight: 600;
}
