.input {
  font-size: 16px;

  &::placeholder,
  &:disabled,
  &:disabled::placeholder {
    color: '#6d747b !important',
  }
}

.label {
  font-size: 18px;
  font-weight: 600;
}


/* invalid: {
  color: theme.colors.gray[9],

            '&, &:focus-within': {
              borderColor: theme.colors.red[6],
            },
}, */
