.header {
  height: 56px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  background-color: #222;
}

.logo {
  width: 40px;
}

.navigation {
  margin-left: 24px;
}

.menu {
  margin-left: auto;
}
