@import 'global.pcss';
@import 'variables.pcss';

.wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  justify-content: space-between;
}
