@import 'variables.pcss';
@import 'global.pcss';

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-brand);
  box-shadow: 0 7px 30px 3px rgba(94, 96, 186, 0.35);

  &.secondary {
    background-color: var(--color-secondary);
  }
}
