@import 'variables.pcss';

.button {
  padding: 0;
}

.link {
  display: block;
  text-decoration: none;
  color: var(--white);
}

.medium {
  padding: var(--distance-600) var(--distance-500);
  font-size: var(--text-500);
}

.small {
  padding: var(--distance-500) var(--distance-400);
  font-size: var(--text-400);
}
