name: Build Template API

on:
  pull_request:
    branches:
      - main
    paths:
      - template/apps/api/**
      - template/packages/**
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build
        uses: docker/build-push-action@v5
        with:
          context: ./template
          file: ./template/apps/api/Dockerfile
          push: false
          tags: ship-api:${{ github.sha }}
