{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "> 1%"]
        },
        "modules": false
      }
    ],
    "stage-2",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "react-loadable/babel"
  ],
  "retainLines": true
}
